conda {
    enabled = true
}

trace {
    enabled = true    // Enables the trace report
    overwrite = true  // Overwrites the trace file on every run
}

// process {
//     withName:LONGCALLR_NN_CALL{
//         container = "docker://huangnengcsu/longcallr_nn:v0.0.1_gpu"
//     }
// }



singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '9999m'  // Set an extremely high value (9999 minutes)
    // runOptions = '--nv'
}


// docker {
//     enabled = true
//     singularity.enabled = false
//     // runOptions = '--gpus all'
// }